
  
<table mdbTable>
  <thead>
    <tr>
      <th  scope="col">Nome: </th>
      <th  scope="col">Data agendada: </th>
      <th  scope="col">Repetir: </th>
      <th  scope="col">período: </th>

    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let lista of listas">
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{lista.nome}}</td>
      <td>{{lista.dataCompra}}</td>

    </tr>
  </tbody>
</table>

    <div className="container">
    
  
      <Row className="mb-4" >
        <Col md="6">
          <Card className="card-stats mb-4 ml-1">
            <CardBody>
              <Row>
                <div className="col">
                  <CardTitle className="list-title text-uppercase mb-0">
                    Nome:
                  </CardTitle>
                </div>
                <Col className="col-auto">
                <CardText className="list-text text-uppercase mb-0">
                {lista.nome}
                  </CardText>
                </Col>
              </Row>
              <Row>
                <div className="col">
                  <CardTitle className="list-title text-uppercase mb-0">
                  Data agendada:
                  </CardTitle>
                </div>
                <Col className="col-auto">
                <CardText className="list-text text-uppercase mb-0">
                    {lista.dataCompra}
                  </CardText>
                </Col>
              </Row>
              <Row>
                <div className="col">
                  <CardTitle className="list-title text-uppercase mb-0">
                    Repetir:
                  </CardTitle>
                </div>
                <Col className="col-auto">
                <CardText className="list-text text-uppercase mb-0">
                {lista.repetir ? <FontAwesomeIcon icon="check" color='green'/>: <FontAwesomeIcon icon="times" color='red'/>}
                  </CardText>
                </Col>
              </Row>
              {lista.repetir?  <Row>
                <div className="col">
                  <CardTitle className="list-title text-uppercase mb-0">
                  Período: 
                  </CardTitle>
                </div>
                <Col className="col-auto">
                <CardText className="list-text text-uppercase mb-0">
                {lista.periodo}
                  </CardText>
                </Col>
              </Row> :''}
            </CardBody>    
          </Card>
        </Col>
      </Row>
    </div>